PORT=4000
FRONTEND_URL=http://127.0.0.1:5500
DATABASE_URL=postgres://postgres:YOUR_PASSWORD@localhost:5432/tetim_shop
JWT_SECRET=super_secret_key_123

AMOCRM_SUBDOMAIN=tetimykt
AMOCRM_CLIENT_ID=your_client_id
AMOCRM_CLIENT_SECRET=your_client_secret
AMOCRM_REDIRECT_URI=https://example.com
AMOCRM_REFRESH_TOKEN=your_refresh_token
AMOCRM_PIPELINE_ID=1111111
AMOCRM_STATUS_ID=2222222