PORT=4000
FRONTEND_URL=http://127.0.0.1:5500

AMOCRM_BASE_URL=https://your-domain.amocrm.ru
AMOCRM_ACCESS_TOKEN=your_amocrm_access_token
AMOCRM_PIPELINE_ID=111111
AMOCRM_STATUS_ID=222222

ONEC_API_URL=http://localhost/onec-api
ONEC_API_KEY=your_onec_api_key